# Solutions to Exercise 1 

This notebook contains solutions to [Exercise 1](../Exercise%201.ipynb).

In [1]:
# Step 1: import the modules you need

import censusdis.data as ced
from censusdis.datasets import ACS5
import censusdis.states as states

In [2]:
# Step 2: Define a constant for the median home value variable

MEDIAN_HOME_VALUE = "B25077_001E"

In [3]:
# Step 3: Make the query

df = ced.download(
    dataset=ACS5,
    vintage=2022,
    download_variables=["NAME", MEDIAN_HOME_VALUE],
    state=[states.NY, states.NJ, states.CT],
)

df

  STATE         NAME  B25077_001E
0    09  Connecticut       323700
1    34   New Jersey       401400
2    36     New York       384100

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>